// Color
$black: #0c0c0c;
$white: #fcfcfc;

$primary: #eac696;
$secondary: #c8ae7d;
$accent1: #765827;
$accent2: #65451f;

$primary300: #eac696;
$secondary300: #c8ae7d;
$accent1-300: #765827;
$accent2-300: #65451f;

// font
$fontSerif: "Roboto Slab", serif;
$fontSansSerif: "Roboto", sans-serif;

//shadow

//radius

//width
$max-width: 90rem;
$mobileWidth: 480px;
$mobileLandscapeWidth: 768px;
$tabletWidth: 1024px;
$tabletLandscapeWidth: 1280px;
